<!DOCTYPE html>
<html lang=“en” xmlns:th=“http://www.tymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <div th:replace="/fragments/header :: ul"></div>
</header>

<main>

        <div class="user-details">
            <ul>
                <div class="user-detail">
                    <li class="user-detail-label">First Name</li>
                    <li th:text="${applicationUser.firstName}"></li>
                </div>
                <div class="user-detail">
                    <li class="user-detail-label">Last Name</li>
                    <li th:text="${applicationUser.lastName}"></li>
                </div>
                <div class="user-detail">
                    <li class="user-detail-label">Username</li>
                    <li th:text="${applicationUser.username}"></li>
                </div>
                <div class="user-detail">
                    <li class="user-detail-label">Date of Birth</li>
                    <li th:text="${applicationUser.dateOfBirth}"></li>
                </div>
            </ul>

        </div>


</main>
</body>
</html>